/* Style for All */
*{
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  background: #fd6e0a;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
}
/* Nav Styles */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 100px;
  padding: 40px 0px;
}
nav > ul {
  display: flex;
  align-items: center;
  margin: 0px 100px;
}

nav li {
  list-style: none;
  margin-right: 30px;
}
nav a {
  text-decoration: none;
  color: #181818;
}
.nav-title {
  font-size: 40px;
  font-weight: 800;
  color: #181818;
}
.header{
  background-color: #FFF8F3;
  background-image: url("./assets/images/header_bg.png"), url("./assets/images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;

  
}
.container{
  display: flex;
  align-items: center;
  margin: 0px 100px ;

}
.btn-contact{
  background-color: white;
  color: #fd6e0a;
  margin-left: 10px;
  border-style: solid;
  border-width: 1px;
}
.container-start{
  color: #474747;
  font-size: 45px;


}
.container-name{
  color: #181818;
  font-size: 85px;
}
.container-pera{
  color: #757575;
  font-size: 18px;
  margin-bottom: 20px;
}

/* Main style */
.about{
  background-color: #FFF8F3;
  margin: 50px 100px;
  text-align: center;
  padding: 80px 120px;

}
.about-me{
  color: #181818;
  font-size: 25ox;
  padding: 10px 5px;
}
.about-pera{
  color: #757575;
  font-size: 18px;
  padding: 10px 5px;
}
.details-section{
  display: flex;
  justify-content: space-around;
}
.name{
  font-size: 20px;
  color: #757575;
}
.name-info{
  font-size: 20px;
  color: #474747;
}
/* Skill Info */
.skill-info{
  display: flex;
  justify-content: space-around;
  margin: 10px 100px;
  padding: 80px 120px;
}

.skills{
  padding:  20px;
  margin-right: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.skill-title{
  color: #181818;
  font-size: 16px;
  font-weight: 800;
  padding-bottom:15px;
  padding-top: 5px;
}
.skill-sub-title{
  font-size: 13px;
  color: #474747;
  font-weight: 600;
}
/* ex-section */
.center-section{
  text-align:  center;
  margin-left: 100px;

}
.ex-section{
  display: flex;
  justify-content: space-around;
  margin: 60px 150px;
  text-align: left;

}
hr{
  margin-right:  20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.my-edu{
  color:#474747; 
  font-size: 25px;
  margin-bottom: 20px;
}
.my-title{
  color:#474747; 
  font-size: 20px;
  margin-bottom: 5px;
}
.my-subtitle{
  color:#757575;
  font-size: 14px;
  margin-bottom: 15px;

}
.my-section{
  padding-right: 100px;
}
/* footer */

.footer{
  background-color: #FFF8F3;
  /* margin: 150px ; */
  /* text-align: center; */
  padding: 150px;  
  display: flex;
  justify-content: space-around;
}
.icones{
  padding: 20px 0px 5px 5px;
  
}
.image-class{
  padding-right: 20px;
}
input{
  border: none;
  height: 40px;
  width: 500px;
  margin:  10px 10px 20px 0px;
  border-radius: 5px;
}